/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .construction {
   margin-top: 72px;
   width: 100%;
 }

 html {
   height: 1000px;
 }

 html, body, header, h1, p, div, span, input, textarea,a, li, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit; 
  color: inherit;
  text-decoration: none;
  list-style: none;
}

/* // margin left: object will be x px to the left */


.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: #FAFAFA;
}

.splash-image {
  height: 620px;
  width: 405px;
}

.other-splash-image {
  width: 245px;
  height: 430px;
  position: absolute;
  top: 101px;
  left: 128px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {opacity: 0%}
  5%   {opacity: 25%}
  10%  {opacity: 50%}
  15%  {opacity: 75%}
  20%  {opacity: 100%}
  25%  {opacity: 100%}
  30%  {opacity: 100%}
  35%  {opacity: 100%}
  40%  {opacity: 100%}
  45%  {opacity: 100%}
  50%  {opacity: 75%}
  55%  {opacity: 50%}
  60%  {opacity: 25%}
  65%  {opacity: 0%}
  70%  {opacity: 0%}
  75%  {opacity: 0%}
  80%  {opacity: 0%}
  85%  {opacity: 0%}
  90%  {opacity: 0%}
  95%  {opacity: 0%}
  100%  {opacity: 0%}
}

.splash-images {
  position: relative;
}


/* .trans-1 {
  opacity: 95%;
}

.trans-2 {
  opacity: 90%;
}

.trans-3 {
  opacity: 85%;
}

.trans-4 {
  opacity: 80%;
}

.trans-5 {
  opacity: 75%;
}

.trans-6 {
  opacity: 70%;
}

.trans-7 {
  opacity: 65%;
}

.trans-8 {
  opacity: 60%;
}

.trans-9 {
  opacity: 55%;
}

.trans-10 {
  opacity: 50%;
}

.trans-11 {
  opacity: 45%;
}
.trans-12 {
  opacity: 40%;
}
.trans-13 {
  opacity: 35%;
}
.trans-14 {
  opacity: 30%;
}
.trans-15 {
  opacity: 25%;
}
.trans-16 {
  opacity: 20%;
}
.trans-17 {
  opacity: 15%;
}
.trans-18 {
  opacity: 10%;
}
.trans-19 {
  opacity: 5%;
}
.trans-20 {
  opacity: 0%;
} */

.signup-container {
  height: 680px;
  width: 300px;
}

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  margin-top: 90px;
  background-color: white;
}

.signup-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  margin-top: 90px;
  background-color: white;
}

.login-box h1 {
  margin-top: 30px;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  text-align: center;
}

.signup-box h1 {
  margin-top: 30px;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  text-align: center;
}

.login-box h2 {
  font-family: 'Courgette', cursive;
  font-size: 15px;
  color: #999999;
}

.signup-box h2 {
  font-family: 'Courgette', cursive;
  font-size: 15px;
  color: #999999;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
}

.login-form input {
  border: 1px solid #E6E6E6;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  width: 230px;
  background-color : #FAFAFA;
  box-shadow: none;
  border-radius: 10px;
}

.signup-form input {
    border: 1px solid #E6E6E6;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    width: 230px;
    background-color : #FAFAFA;
    box-shadow: none;
    border-radius: 10px;

}

.login-form button {
  background: #3897EF;
  color: white;
  padding: 5px;
  width: 255px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.signup-form button {
  background: #3897EF;
  color: white;
  padding: 5px;
  width: 255px;
  font-size: 15px;
  margin-top: 9px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.splash-ask {
  border: 1px solid #E6E6E6;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background: white;
}

.splash-ask span {
  color: #3897EF;

}

.splash-login-ask {
  border: 1px solid #E6E6E6;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background: white;
}

.splash-login-ask span {
  color: #3897EF;
}

.navbar {
    display : flex;
    align-items: center;
    border: 1px solid #DBDBDB;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
}


.searchbar{
  background-color: #FAFAFA;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  width: 200px;
  border: 1px solid #DBDADB;
  border-radius: 3px;
  color: black;
  padding: 5px;
  text-align: center;
}

.searchbar-username{
  background: yellow;
}

.searchbar-userpic{
  height: 30px;
  width: 30px;
}

.searchbar-result-container{
  background: yellow;
}
.left-icons {
  margin-left: 150px;
  display: flex;
  min-width: 158.33px;
}

.left-icons .splash-link {
  display: flex;
}

.right-icons {
  justify-content: flex-end;
  margin-right: 200px;
  display: flex;
  min-width: 135px;
}

.logo-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.logo-name-icon {
  font-size: 25px;
  font-family: 'Courgette', cursive;
  display: flex;
}

.explore-icon {
  height: 30px;
  width: 30px;
  margin-right: 18px;
  margin-top: 3px;
}

.profile-icon {
  height: 35px;
  width: 35px;
  display: flex;
}

.profile-username{
  cursor: default;
}

.addimage-icon {
  height: 27px;
  width: 27px;
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.grid-icon {
  height: 13px;
  width: 13px;
  margin-right: 6px;
  margin-top: 2px;
}

.logout-button:hover {
  margin-left: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: -20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courgette', cursive;
  /* border-radius: 100px; */
  border-radius: 10px;
  cursor: pointer;
}

.logout-button{
  background-color: white;
  color: black;
  margin-left: 10px;
  border: none;
  padding: -20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courgette', cursive;
  /* border-radius: 100px; */
  border-radius: 100%;
  cursor: pointer;
}

.errors {
  color: #ED4956;
  list-style-type: circle;
}

.signup li {
  color: #ED4956;
  list-style-type: circle;
  margin-left: 50px;
}

.profile-middleline {
  margin: 0 10%;
  display: flex;
  justify-content: center;
}

.middleline {
  border-top: 1px solid black;
  cursor: pointer;
  width: min-content;
  display: flex;
}

.middleline div {
  font-size: 14px;
  color: #646464;
  font-family: 'Quattrocento Sans', sans-serif;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header h1 {
  font-size: 20px;
  margin-top: 40px;
  font-weight: bold;
}

.top-row-description {
  display: flex;
}

.profile-header {
  height: 300px;
  max-width: 60%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #383838;
}

.editprofile-button {
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  padding: 3px;
  width: 100px;
  height: 25px;
  margin-top: 40px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 150px;
  background: black;
  color: white;
}

.user-stats {
  padding: 3px;
  margin-top: 30px;
  cursor: default;
}

.user-stats p {
  font-weight: bold;
  color: black;
}

.user-stats span {
  padding-right: 30px;
  font-size: 20px;
  font-weight: bold;
}

.profile-description {
  margin-right: 200px;
  font-size: 20px;
  margin-bottom: 50px;
}

.profile-picture {
  height: 200px;
}

.profile-picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-middleline {
  border-top: 1px solid #DBDBDB;
}
.middle-container {
  display:flex;
  margin-top: 73px;
  justify-content: center; 
  align-items: center;
}

.username {
  font-weight: bold;
  margin-top: 15px;
  font-size: 25px;
  cursor: default;
}

.bio {
  margin-top: 15px;
  font-size: 18px;
  white-space: pre-line;  
  cursor: default;
}

.uploadModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.651);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadForm {
  width: 450px;
  height: 350px;
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid white;
} 

.captionbox {
  border: 1px solid black;
}

.leftsideForm {
  margin: 20px;
  margin-bottom: 50px;
}

.leftsideForm p {
  border: 1px solid #999999;
  padding: 8px;
  border-radius: 10px;
  background-color: #3897EE;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  cursor: pointer;
}

.postimage {
  height: 150px;
  width: 150px;
  padding: 10px;
}

.rightsideForm {
    font-family: 'Quattrocento Sans', sans-serif;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    margin: 10px;
    flex-direction: column;
    margin-bottom: 35px;
}

.rightsideForm textarea {
  margin-bottom: 0;
  border-radius: 10px;
  padding: 10px;
  background: #FAFAFA;
  resize: none;
}

.rightsideForm > button {
  margin-top: 2px;
  background: #3897EE;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  align-self: center;
  margin-top: 14px;
  padding: 8px;
  cursor: pointer;
}

.rightsideForm h1 {
  padding: 10px;
}

.profileEditModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.651);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Quattrocento Sans', sans-serif;
}

.editForm {
  background: white;
  height: 500px;
  width: 600px;
  display: flex;
  border-radius: 30px;
  border: 1px solid white;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.editForm > h1 {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  color: #4A9FEE;
  font-weight: bold;
}

.rightForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  /* margin-right: 450px;
  margin-top: 80px; */
}

.rightForm h1 {
  padding: 5px;
}

.rightForm button {
  margin-top: 30px;
  background-color: rgb(75, 159, 238);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
}

.leftForm {
  width: 200px;
}

.leftForm p {
  color: rgb(33, 140, 240);
  font-weight: bold;
  margin-top: 55px;
  margin-left: 30px;
  cursor: pointer;
}

.profileimage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.biobox {
  border: 1px solid rgb(172, 171, 171);
  margin-bottom: 0;
  border-radius: 10px;
  padding: 10px;
  background: #FAFAFA;
  resize: none;
  height: 70px;
  width: 200px;
  overflow: hidden;
}

.namebox {
  border: 1px solid rgb(172, 171, 171);
  margin-bottom: 0;
  border-radius: 10px;
  padding: 10px;
  background: #FAFAFA;
  resize: none;
  height: 20px;
  width: 100px;
}

#file, #upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}

.preview-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.inputfile {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  color: rgb(46, 146, 240);
  margin-top: 5px;
}

.uploadfile {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Quattrocento Sans', sans-serif;
  border: 1px solid #FAFAFA;
  background: #3897EE;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.preview-post {
  height: 200px;
  width: 200px;
}

.post {
  /* height: 280px;
  width: 280px; */
  margin: 13px;
  background: white;
  position: relative;
}

.post:hover{
  background-color: rgba(0, 0, 0, 0.623);
  padding: 13;
}

.post:hover .middle{
  opacity: 1;
}

.post:hover .post-pic{
  opacity: 0.3;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  /* font-size: 12px; */
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-pic {
  height: 280px;
  width: 280px;
  object-fit: cover;
  cursor: pointer;
}

.comment-count{
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.comment-count-num{
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  cursor: pointer;
}

.list {
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.postshowModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.651);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.postshowForm {
  background: white;
  height: 530px;
  width: 850px;
  display: flex;
  font-family: 'Quattrocento Sans', sans-serif;
}

.postshow-pic {
  height: 530px;
  width: 530px;
  object-fit: cover;
}

.right-postshow {
  width: 470px;
}
.postshow-cred{
  border-bottom: 1px solid #DBDBDB;
  display: flex;
  position: fixed;
  width: 320px;
  justify-content: space-between;
}

.picusername {
  display: flex;
  align-items: center;
}

.profilepicshow {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  padding: 15px;
  object-fit: cover;
}


.dots {
  position: relative;
}

.dotsmenu {
  width: 150px;
  height: 115px;
  position: absolute;
  right: 8px;
  top: 40px;
  list-style-type: none;
  padding: 0;
  background-color: white;
  border: 1px solid #F5F6F7;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(103, 172, 241);
  position: absolute;
  top: -8px;
  right: 0;
}

.dotsmenu li:nth-child(2) {
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  padding: 10px;
}

.dotsmenu li:nth-child(2):hover {
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  padding: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

.dotsmenu li:nth-child(3) {
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  padding: 10px;
}

.dotsmenu li:nth-child(3):hover {
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  padding: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

.dotsmenu li:nth-child(4) {
  text-align: center;
  padding: 10px;
  color: red;
}

.dotsmenu li:nth-child(4):hover {
  text-align: center;
  padding: 10px;
  color: red;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

.usernameshow {
  font-weight: bold;
}


.moreicon {
  height: 13px;
  width: 13px;
  margin-top: 23px;
  margin-right: 10px;
  cursor: pointer;
}

.comments {
  border-bottom: 1px solid #DBDBDB;
  height: 350px;
  width: 290px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 15px;
}

.single-comment{
  margin-bottom: 10px;
}

.comment-section{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-left: 15px; */
}

.comment-profile-pic{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.comment-username{
  margin-right: 8px;
  font-weight: bold;
}

.comment-body{
  word-break: break-all;
}

.comment-combo{
  margin-top: 5px;
}


.userblock {
  display: flex;
  margin: 10px 0;

}

.profilepiccaption{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  /* margin-right: 15px; */
  object-fit: cover;
}

.usernamecaption {
  width: 236px;
  word-break: break-all;
  margin-left: 15px;
}

.usernamedisplay {
  font-weight: bold;
}

.caption {
  margin-left: 7px;
}

.heartscomments {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #DBDBDB;
}

.datecreated {
  font-size: 12px;
  color: #757575;
  margin-top: 8px;
}

.addComment {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
  margin: 10px;
  height: 19px;
}

.postbutton {
  /* margin-left: 90px; */
  color: #3897EE;
  font-weight: bold;
  cursor: pointer;
}

.heart-icon {
  height: 25px;
  width: 24px;
}
.comment-icon {
  height: 23px;
  width: 24px;
  /* margin-left: 5px; */
  margin-bottom: 2px;
  cursor: pointer;
}

#comment-iconn{
  width: 250px;
}

.editModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.651);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;

}

.captionEditForm {
  background: white;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Quattrocento Sans', sans-serif;
}

.editheader {
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
}

.captioneditbox {
  border: 1px solid black;
  resize: none;
  height: 100px;
  width: 200px;
}

.captionEditSubmit {
  height: 30px;
  width: 90px;
  background: rgb(85, 150, 235);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* demo */

.demo-login-button-splash {
    background: rgb(81, 206, 108);
    color: white;
    padding: 5px;
    width: 255px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.demo-login-button-signup {
  background: rgb(81, 206, 108);
  color: white;
  padding: 5px;
  width: 255px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.demo-login-button-login {
  background: rgb(81, 206, 108);
  color: white;
  padding: 5px;
  width: 255px;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 10px;
}

/* feed css */

.feed-post-item{
  border: 1px solid #DBDBDB;
  width: 580px;
  margin-top: 30px;
  background-color: white;
  border-radius: 3px;
}
.feedpost-container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 72px;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.feed-dev-info{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.feed-dev-info-name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.developer-title{
  font-size: 12px;
  color: #8E8E8E;
  cursor: default;
}

.developer-pic{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed-dev-links{
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  height: 70px;
  background: white;
  padding: 15px;
  font-size: 15px;
  margin-top: 30px;
}

.feed-dev-links-sites{
  font-weight: bold;
  color: #8E8E8E;
  margin-bottom: 20px;
}


.feed-right{
  margin-left: 40px;
  margin-top: 30px;
  width: 210px;
}

.feed-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed-post-userinfo{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 13px;
}
.feed-post-pic{
  height: 580px;
  width: 580px;
  object-fit: cover;
}

.feed-profile-pic{
  height: 35px;
  width: 35px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.feed-username{
  font-weight: bold;
  font-size: 15px;
}

.feed-comments{
  max-height: 80px;
  overflow-y: scroll;
  word-break: break-all;
}

.feed-comment-username{
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.feed-comment-body{
  font-size: 15px;
}

.feed-comment-combo{
  margin-top: 5px;
}

.feed-heartscomments{
  height: 20px;
  padding: 10px;
}

.feed-single-comment{
  padding: 1px 16px;
}

.feed-usernamedisplay {
  font-weight: bold;
  /* margin-left: 10px; */
  font-size: 15px;
}

.feed-caption {
  padding-left: 5px;
  font-size: 15px;
}

.feed-addComment {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin: 7px;
  height: 22px;
  border-top: 1px solid #DBDBDB;
}

.feed-comment-icon {
  height: 25px;
  width: 24px;
  margin-left: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

#feed-comment-iconn{
  width: 510px;
  height: 20px;
  margin-top: 5px;
}

.feed-postbutton {
  /* margin-left: 90px; */
  color: #3897EE;
  font-weight: bold;
  cursor: pointer;
  margin-top: 7px;
}

.feed-added-time{
  padding: 2px 16px;
}

.date-posted-ago{
  color: #9C9C9C;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  margin-top: 7px;
  text-transform: uppercase;
}

.feed-usernamecaption {
  width: 500px;
  word-break: break-all;
  padding: 3px 15px;
}

.feed-dev-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-linkedin{
  font-size: 30px;
  margin-right: 13px;

}

.fa-github-square{
  font-size: 30px;
  margin-right: 13px;

}

.fa-user-alt{
  font-size: 27px;
  margin-right: 13px;

}

.fa-angellist{
  font-size: 30px;
  margin-right: 13px;
}

.fa-copyright{
  margin-right: 5px;
}

.footer{
  color: rgb(180, 180, 180);
  font-size: 12px;
  margin-top: 25px;
}

.feed-dev-about{
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background: white;
  padding: 15px;
  font-size: 15px;
}

.feed-dev-aboutme{
  font-weight: bold;
  color: #8E8E8E;
  margin-bottom: 20px;
  cursor: default;
}

.about-me-description{
  color: #0095F6;
  margin-bottom: 5px;
  cursor: default;
}

.about-me-description:hover{
  text-decoration: underline;
}