/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, h1, p, div, span, input, textarea,a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit; 
  color: inherit;
  text-decoration: none;
  list-style: none;
}

/* 
.signupDiv {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 30px;
  margin-top: 80px;
  background: #FFFFFF;
}

.form-box-container {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 30px;
  margin-top: 80px;
  background: #FFFFFF;
}

.form-box{
  background-color: #FFFFFF;
}

.form {
    border-width: 2px 2px 2px 2px;
    display: inline-block;
    font-size: 40px;
    margin-top: auto;
    background-color: #FFFFFF;
}

input, textarea {
  background-color : #FAFAFA;
  padding: 6px;
  width: 200px;
  box-shadow: none;
  font-size: 13px;
  font-family: serif;
  color: #999999;
  border: 1px solid #E6E6E6;
}

button[type='submit'] {
  background: #3897EF;
  color: white;
  padding: 5px;
  width: 220px;
  font-size: 15px;
}

::placeholder {
  color : rgb(161, 161, 161);
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
}

h2 {
  font-family: 'Courgette', cursive;
  font-size: 15px;
  color: #999999;
}

img {
  height: 580px;
  width: 380px;
}

.signup-form-container {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 10px;
  margin-top: 80px;
  width: 340px;
  background-color: #FFFFFF;
}

.signup-form-redirect {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 10px;
  margin-top: 80px;
  width: 320px;
  background-color: #FFFFFF;
}

.login-form-container {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 10px;
  margin-top: 80px;
  width: 330px;
  background-color: #FFFFFF;
}

.form-container {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 20px;
  margin-top: 80px;
  background-color: #FFFFFF;
}

.login {
  color: #3897EF;
}

html, body{
  height: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > input {
  margin: 5px 0;
}

.splash-container {
  display: flex;
  align-items: center;
  margin-left: 300px;
} */


/* // margin left: object will be x px to the left */


.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: #FAFAFA;

}

.splash-image {
  height: 620px;
  width: 405px;
}

.signup-container {
  height: 680px;
  width: 300px;
}

.login-box {
  height: 300px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid #E6E6E6;
  margin-top: 90px;
  background-color: white;
}

.signup-box {
  height: 400px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid #E6E6E6;
  margin-top: 90px;
  background-color: white;
}

.login-box h1 {
  margin-top: 30px;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  text-align: center;
}

.signup-box h1 {
  margin-top: 30px;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  text-align: center;
}

.login-box h2 {
  font-family: 'Courgette', cursive;
  font-size: 15px;
  color: #999999;
}

.signup-box h2 {
  font-family: 'Courgette', cursive;
  font-size: 15px;
  color: #999999;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
}

.login-form input {
  border: 1px solid #E6E6E6;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  width: 230px;
  background-color : #FAFAFA;
  box-shadow: none;
}

.signup-form input {
    border: 1px solid #E6E6E6;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    width: 230px;
    background-color : #FAFAFA;
    box-shadow: none;
}

.login-form button {
  background: #3897EF;
  color: white;
  padding: 5px;
  width: 255px;
  font-size: 15px;
  margin-top: 5px;
}

.signup-form button {
  background: #3897EF;
  color: white;
  padding: 5px;
  width: 255px;
  font-size: 15px;
  margin-top: 5px;
}

.splash-ask {
  border: 1px solid #E6E6E6;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.splash-ask span {
  color: #3897EF;
}

.splash-login-ask {
  border: 1px solid #E6E6E6;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.splash-login-ask span {
  color: #3897EF;
}

.navbar {
    display : flex;
    align-items: center;
    border: 1px solid rgb(230, 32, 32);
    justify-content: space-between;
    height: 70px;
    width: 100%;
    /* border: 1px solid #E6E6E6; */
}

.left-icons {
  /* display: inline-block;
  align-items: flex-end;
  justify-content: space-evenly; */
  margin-left: 60px;

}

.right-icons {
  justify-content: flex-end;
}

.logo-icon {
  height: 25px;
  width: 25px;
}

.logo-name-icon {
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

.explore-icon {
  height: 25px;
  width: 25px;
}

.profile-icon {
  height: 30px;
  width: 30px;
}
/* 348 x 437 */
/* 350 x 650 */
/* 707 x 682 */
